@charset "UTF-8";

/*---GLOBAL---*/
* {
	margin: 0;
	padding: 0;
}
/*
:root {
    --lightGray: #DCDCDC;
    --orange: #F15E33;
}
*/
html {
	font-family: Helvetica, sans-serif;
}

body {
	width: 100%;
}

/*---MAIN---*/
.main {
    margin:  20px 40px;
    padding: 30px 40px;
	height: auto;
	width: 520px;
	background-color: white;
	border: 2px solid #DCDCDC;
}
.main p {
    text-align: left;
    font-size: 28px;
    color: #707070;
}
span {
    color: #F15E33; 
}
#why {
    margin-top: 30px;
    font-style: italic;
    color: #44B2DE;
}
#why:hover {
    text-decoration: underline; 
}

.main-buttons {
    display: inline-block;
    margin-top: 40px;
}
.main-buttons p {
    font-size: 32px;
}
#donation {
    width: 240px;
    height: 100px;
    border: 1px solid #DCDCDC;
    border-radius: 6px;
}
#give {
    width: 240px;
    height: 100px;
    border: 1px solid #01B21A;
    border-radius: 6px;
    float: right;
    background-color: #00BE1C;
}
#give:hover {
    background-color: #01B21A;
}
#give p {
    color: white;
    text-align: center;
}
